body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
#content {
    position: fixed;
    height: 100%;
    width: 100%;
}
#text {
    text-align: center;
    font-family: 'Inconsolata';
    font-size: 40pt;
    position: relative;
    top: 30%;
    height: 50%;
}

#footer {
    text-align: center;
    position: fixed;
    bottom: 0%;
    width: 100%;
}
#text-center{
    text-align: center;
    font-family: 'Inconsolata';
    font-size: 20pt;
    color: white;
    padding-top: 20px
}
#greetings{
    text-align: right;
    font-family: 'Inconsolata';
    font-size: 8pt;
    color: grey;
}
#greetings a {
    padding: 0;
    text-decoration: none;
    color: grey;
}
a {
    padding: 5px 11px;
}
